html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 80%;
    width: 80%;
}

#input-container {
    display: flex;
    height: 3rem;
    width: 35rem;
    border-radius: 1.5625rem;
    border: 0.13rem darkgrey solid;
    margin-bottom: 2rem;
}

#text-box {
    flex-grow: 2;
    padding: 0 2rem;
    border-radius: 1.5625rem;
    border-style: none;
    outline: none;
    font-size: 1rem;
}

#input-container:focus-within {
    border: 0.13rem black solid;
}

#add-button {
    border-style: none;
    outline: none;
    border-radius: 1.5625rem;
    width: 15%;
    cursor: pointer;
    background-color: #fd633a;
    color: white;
    font-size: 1.5rem;
}

#add-button, #input-container {
    transition: all 0.3s ease-out;
}

#add-button:hover {
    transform: scale(1.3);
}

#add-button:active, #add-button.active {
    transform: scale(0.5);
}

#add-button:hover #input-container {
    transform: scale(1.1);
}

.todo-item-container {
    display: flex;
    justify-content: space-between;
    align-content: start;
    width: 35rem;
    height: auto;
    padding: 0 1.8rem;
}

.checkbox-container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    left: 0;
    height: 1.375rem;
    width: 1.375rem;
    background-color: inherit;
    border: 0.06rem solid #3d3c3c;
    cursor: pointer;
    border-radius: 0.9375rem;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #fd633a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 0.563rem;
    top: 0.313rem;
    width: 0.313rem;
    height: 0.625rem;
    border: solid white;
    border-width: 0 0.188rem 0.188rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close-button {
    border-style: none;
    outline: none;
    background-color: inherit;
    font-size: 2rem;
    cursor: pointer;
}

.checkbox-and-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    gap: 2.5rem;
}

.checkbox-and-text-container > p {
    font-size: 1.4rem;
}

.strike-through {
    text-decoration: line-through;
    animation: strike 0.8s linear;
}

/***Strike animation***/
@keyframes strike {
    from { text-decoration-color: transparent; }
    to { text-decoration-color: #000000; }
}

/***Zoom out delete animation***/
@keyframes zoom {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.3);
        opacity: 0.3;
    }
    100% {
        width: 0;
        min-width: 0;
        transform: scale(0);
        opacity: 0;
        padding: 0;
        margin: 0;
    }
}

.zoom-delete {
    animation: zoom forwards 1s ease-out 1;
}