html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
    background-color: #b992da;
    background-image: linear-gradient(#e18b8b, #9198e5);
    background-position: left;
    background-repeat: repeat;
    background-size: auto auto;
}

h1, h2 {
    font-family: 'Arvo', serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

button {
    border-style: none;
    background-color: inherit;
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
    border-radius: 50%;

}

button:active {
    transform: scale(0.88);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 0.188rem 0.125rem 1.375rem 0.063rem rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

img {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.hands {
    margin: 1rem;
}

#score-view {
    display: flex;
    justify-content: center;
    align-items: center;
}

#score-view > h2 {
    margin: 2rem;
}

#rock-paper-scissors-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 62.5rem;
    min-height: 18.125rem;
}

#rock-paper-scissors-images-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rock-paper-scissors-results-images-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rock-paper-scissors-results-images-container > img {
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all 3s ease;
}

#player-score-view, #computer-score-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

#player-score-board, #computer-score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 12.5rem;
    min-width: 12.5rem;
    background-color: cornflowerblue;
    border-radius: 1.563rem;
    color: black;
    font-size: 4rem;
}

#header-text > span {
    margin: 0.2rem;
}


/****** RESPONSIVE *******/
/*TODO: Work on responsiveness*/

@media only screen and (max-width: 390px) and (max-height: 844px) {

}
